.reveal section {
  padding-top: 10px;
}

.reveal div {
  font-size: 14px;
  text-align: justify;
  padding-top: 0px;
  margin-top: 2px;
}

.reveal div.left {
  float: left;
  width: 47%;
  padding-left: 2%;
  padding-right: 1%;
}

.reveal div.right {
  float: right;
  width: 47%;
  padding-right: 2%;
  padding-left: 1%;
}

.reveal div.one-third {
  float: left;
  width: 30%;
  padding-right: 2%;
  padding-left: 1%;
}

.reveal div.two-third {
  float: left;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
}

.reveal div.three-third {
  float: left;
  width: 30%;
  padding-left: 1%;
  padding-right: 2%;
}

.reveal div.one-fourth {
  float: left;
  width: 22%;
  padding-right: 2%;
  padding-left: 1%;
}

.reveal div.two-fourth {
  float: left;
  width: 23%;
  padding-right: 1%;
  padding-left: 1%;
}

.reveal div.three-fourth {
  float: left;
  width: 23%;
  padding-right: 1%;
  padding-left: 1%;
}

.reveal div.four-fourth {
  float: left;
  width: 22%;
  padding-right: 1%;
  padding-left: 2%;
}

.reveal div.whole {
  width: 96%;
  padding-right: 2%;
  padding-left: 2%;
}

.reveal div.MathJax_Display {
  font-size: 12px;
}

.reveal code {
  font-size: 14px;
}

.reveal h1 {
  font-size: 36px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal h2 {
  font-size: 32px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal h3 {
  font-size: 28px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal h4 {
  font-size: 24px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal h5 {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal h6 {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 10px;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

