.reveal div {
  font-size: 16px;
}

.reveal div.left {
  float: left;
  width: 50%;
}

.reveal div.right {
  float: right;
  width: 50%;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

li {
  text-align: justify;
}

.col {
  width: 47%;
  margin-left: 1%;
  margin-right: 1%; 
}

.reveal h1 {
  font-size: 36px;
}

.reveal h2 {
  font-size: 32px;
}

.reveal h3 {
  font-size: 28px;
}

.reveal h4 {
  font-size: 24px;
}

.reveal h5 {
  font-size: 20px;
}

.reveal h6 {
  font-size: 16px;
}
